* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

.contactForm {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("https://i.imgur.com/Abm0wRq.jpeg");
background-size: cover;
font-family: 'Poppins', sans-serif;
z-index: 2;
position: relative;
}

.contactForm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

/*Popup demandant l'email*/
#no-email {
    display: none;
    position: absolute;
    top: 4px;
    color: #ff4d4d;
    right: 30px;
}

/*popup demandant de bien remplir les champs obligatoire*/
.invalid-message {
    margin-top: 20px;
    background-color: #ff4d4d;
    display: flex;
    justify-content: center;
    
}

.container-contact {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.contact-info {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #240046;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction:column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
    padding: 30px;
}
.contact-info h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.info {
    position: relative;
    margin: 20px 0;
}
.container-contact .contact-info ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.container-contact .contact-info ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}
.container-contact .contact-info ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}
.container-contact .contact-info ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}
.container-contact .contact-info ul.sci {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}
.container-contact .contact-info ul.sci li {
    list-style: none;
    margin-right: 15px;
}
.container-contact .contact-info ul.sci li a {
    text-decoration: none;
}
.container-contact .contact-info ul.sci li a img {
    filter: invert(1);
    height: 30px;
}

.contact-form {
    position: absolute;
    padding:70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow:0 50px 50px rgba(0,0,0,0.25);
}
.container-contact .contact-form h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
.form-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.input-box {
    position: relative;
    margin-bottom: 35px;
}
.input-box.y {
    width: 47%;
}
.input-box.y1 {
    width: 100%;
}
.input-box input,
.input-box textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}
.input-box textarea {
    height: 120px;
}
.input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.input-box input:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:focus ~ span,
.input-box textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#095a55;
    font-weight: 500;
}
.input-box input[type="submit"] {
    position: relative;
    cursor: pointer;
    color: #fff;
    border: none;
    background:#240046;
    max-width: 150px;
    padding: 12px;
    border-radius: 15px 2px;
}
.input-box input[type="submit"]:hover {
    background: #9011ff;
}

@media (max-width : 1200px) {
    .container-contact {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }
    .contact-info {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }
    .contact-form {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}
@media (max-width : 950px) {
    
    form::before {
        background: #240046;
        display: none;
    }
    .container-contact {
        display: flex;
        flex-direction: column-reverse;
    }
    .contact-form {
        width: 100%;
    }
    .contact-info {
        width: 100%;
        padding: 0;
    } 
    .input-box.y1 {
        display: flex;
        justify-content: center;
    }
}
