.row {
    margin-left: 26px;
    color: white;
  }
  .rowPosters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  .rowPosters::-webkit-scrollbar {
    display: none;
  }
  .rowPoster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: transform 500ms;
    margin-right: 12px;
  }
  .rowPoster:hover {
    transform: scale(1.12);
  }
  .rowPosterLarge {
    max-height: 250px;
  }
  .rowPosterLarge:hover {
    transform: scale(1.12);
  }