
/* .poster-card {
  position: relative;
} */

.poster-card img {
  /* height: 40vh; */
  padding: 3px;
  width: 13vw;
  z-index: 400;
}

.poster-card img:hover {
  z-index: 500;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.rate-overlay {
  z-index: 800;
  /* position: absolute; */
  background-color: var(--bg-color);
  top: 80%;
  /* left: 50%; */
  transform: translate(25%, -50%);
  width: 65%;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--text-color);
  border-width: 1px;
  text-align: center;
  color: var(--text-color);
}
