.categorie-container {
    width: 100%;
    position: relative;
    background-color: var(--bg-color);
    }

.categorie-wrapper {
    padding-top: 15vh;
}

.categorie-cards {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 50vh;
    margin-left: 15px;
    margin-right: 20px;
}

.categorie-cards .popularLists {
    display: flex;
    align-items: center;
    width: max-content;
    transform: translateX(0px);
    transition: all 0.8s ease;
    position: relative;
}

.categorie-container h3 {
    color: var(--text-color);
    padding-top: 20px;
    padding-left: 35px;
}
    
.sliderArrowLeft, .sliderArrowRight {
    color: var(--secondary-color);
    background-color: var(--bg-color);
    position: absolute;
    z-index: 50;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto;
    }

    .categorie-cards .sliderArrowLeft {
    left: 0;
    height: 82%;
    width: 30px;
    }

    .categorie-cards .sliderArrowRight {
    height: 82%;
    right: 0;
    width: 30px;
    }
    
    @media screen and (max-width: 800px) {
    .top-container {
        margin-top: 25px;
    }
    .top-container h3 {
        font-size: 15px;
    }
}
    
    @media screen and (max-width: 725px) {
    .top-cards {
    height: 40vh;
    }
}
