.list {
    width: 100%;
    margin-top: 10px;
}
.list .listTitle {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}
.list .wrapper {
    position: relative;
}
.list .wrapper .sliderArrow {
    width: 50px;
    height: 100%;
    background-color: #161616;
    color: white;
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.list .wrapper .sliderArrow.left {
    left: 0;
}
.list .wrapper .sliderArrow.right {
    right: 0;
}
.list .wrapper .container {
    margin-left: 50px;
    display: flex;
    margin-top: 10px;
    width: max-content;
    transform: translateX(0px);
    transition: all 1s ease;
}