.top-container {
position: relative;
}

.top-cards {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  height: 50vh;
  scrollbar-width: none;
}

.top-container h3 {
  color: var(--text-color);
  padding-left: 20px;
  text-shadow: 2px 2px 2px var(--bg-color);
}

.top-cards::-webkit-scrollbar {
  display: none;
}
