.top-container {
position: relative;
margin-top: 20vh;
}

.top-cards {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  height: 50vh;
  position: relative;
}

.top-container h2 {
  color: var(--text-color);
  padding-left: 2rem;
  text-shadow: 2px 2px 2px var(--bg-color);
}

.top-cards::-webkit-scrollbar {
  display: none;
}

.top-cards .sliderArrowLeft, .top-cards .sliderArrowRight {
  color: var(--secondary-color);
  background-color: var(--bg-color);
  width: 40px;
  height: 82%;
  position: absolute;
  opacity: 0.7;
  border-style: none;
  border-radius: 7px;
  z-index: 50;
  cursor: pointer;
}

.top-cards .sliderArrowLeft {
  left: 0;
}

.top-cards .sliderArrowRight {
  right: 0;
}

@media screen and (max-width: 800px) {
  .top-container {
    margin-top: 25px;
  }
  .top-container h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 725px) {
  .top-cards {
    height: 40vh;
  }
}

