.notFound {
    background-color: var(--bg-color);
    overflow: hidden;
    height: 100vh;
    text-align: center;

}

.NotFoundTitle {
    margin: 10% 25%;
    width: 50%;
    -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0);
    font-size: 10rem;
    color: var(--third-color);
}

.NotFoundTitle:hover {
    font-size: 15rem;
    color: var(--secondary-color);
    transition: 2s;
}

.NotFoundTitle2, .NotFoundParagraphe{
    font-size: 2rem;
    color: var(--secondary-color);
}