.tvCard {
    background-color: #141414;
    padding-top: 100px;
}

.tvCard h1 {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #f5e2ff;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.tvCard .image-tv-card {
    height: 72vh;
}

.tvCard h3 {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #f5e2ff;
    width: 65%;
    padding: 15px;
}

.flex {
    background-color: #141414;
    display: flex;
    justify-content: flex-start;
    padding-left: 40vh;
}

.detail-content{
    padding : 10px;
}

.detail-content a {
    color: var(--text-color);
    padding: 3px;
}

.detail-content a:visited {
    color: var(--secondary-color);
}

@media only screen and (max-width: 870px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
    }
}