.MovieCard {
    background-color: #141414;
}

.navB {
    margin: 0px;
    color: #f5e2ff;
    background-color: #141414;
    height: 80px;
    text-align: center;
    font-size: 50px;
}
.MovieCard h1{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #f5e2ff;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.MovieCard .image-movie-card {
    height: 800px;
}

.MovieCard h3{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #f5e2ff;
    width: 65%;
}

.buttonBA {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #240046;
    border: none;
    color: #f5e2ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;

}

.favButton {
    color: #f5e2ff;
    background-color: #141414;
    border: 2px solid white;
    font-size: 25px;
    border-radius: 50px;
    padding: 3px 10px;
    cursor: pointer;
}

.containerFlex {
    background-color: #141414;
    display: flex;
    justify-content: flex-start
}

.containerDetail {
    padding: 10px;
}

@media only screen and (max-width: 870px) {
    .containerFlex {
        display: flex;
        flex-wrap: wrap;
    }
}