.MovieCard {
    background-color: #141414;
    padding-top: 100px;
    height: 100%;
    width: 100%;
}

.navB {
    margin: 0px;
    color: #f5e2ff;
    background-color: hsl(0, 0%, 8%);
    height: 80px;
    text-align: center;
    font-size: 50px;
}

.MovieCard h1{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #f5e2ff;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.MovieCard .image-movie-card {
    height: 72vh;
}

.MovieCard h3{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #f5e2ff;
    width: 65%;
    padding: 15px;
}

.buttonBA {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #240046;
    border: none;
    color: #f5e2ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;

}

.favButton {
    color: #f5e2ff;
    background-color: #141414;
    border: 2px solid white;
    font-size: 25px;
    border-radius: 50px;
    padding: 3px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.containerFlex {
    background-color: #141414;
    display: flex;
    justify-content: flex-start;
    padding-left: 40vh;
}

.containerDetail {
    padding: 10px;
}

.containerDetail a {
    color: var(--text-color);
    padding: 3px;
}

.containerDetail a:visited {
    color: var(--secondary-color);
  }

@media only screen and (max-width: 870px) {
    .containerFlex {
        display: flex;
        flex-wrap: wrap;
    }
}