* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
.section-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #001d10;
    animation: animateBackgroundColor 10s linear infinite;
}
@keyframes animateBackgroundColor {
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}
.loading {
    position: relative;
    width: 250px;
    height: 250px;
}

/* .loading .blocks[data-frame] { 
    position: absolute;
    background: #050c09;
    width: 8px;
    height: 25px;
    border-radius: 8px;
    left: 50%;
    transform: content rotate(calc(18deg * attr(data-frame)" "));
    360deg/20block = 18deg chacun 
    transform-origin: 0 125px;
    animation: animate 1.9s ease-in-out infinite;
    /*animation-delay: content calc(0.05s * attr(data-frame)" ");
    /* 1 / 20 = 0.05
}*/
@keyframes animate {
    0%,50%
    {
        background: #050c09;
        box-shadow: none;
    }
    50.1%,100%
    {
        background: var(--secondary-color);
        box-shadow: 0 0 5px var(--secondary-color),
                    0 0 15px var(--secondary-color),
                    0 0 30px var(--secondary-color),
                    0 0 60px var(--secondary-color),
                    0 0 90px var(--secondary-color);
    }
}

.loading {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    letter-spacing: 2px;
    animation: animateText 2s ease-in-out infinite;
    animation-delay: -1s;
}

@keyframes animateText {
    0%,50%
    {
        text-shadow: none;
    }
    50.1%,100%
    {
        color: var(--secondary-color);
        text-shadow: 0 0 5px var(--secondary-color),
                    0 0 15px var(--secondary-color),
                    
    }
}
