.featured {
    height: 90vh;
    position: relative;
}
.featured .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    align-items: center;
}
.featured .category select {
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid white;
    color: var(--text-color);
    margin-left: 20px;
    padding: 5px;
}
.featured img {
    width: 500px;
    height: auto;
}
.featured .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}
.featured .info img {
    width: 400px;
}
.featured .info .desc {
    margin: 20px 0px;
}
.featured .info .buttons {
    display: flex;
}
.featured .info .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}
.featured .info .buttons button.play {
    background-color: var(--text-color);
    color: var(--primary-color);
}
.featured .info .buttons button.more {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.featured .info .buttons button span {
    margin-left: 5px;
}

.slider {
    height: auto;
    width: 500px;
    overflow: hidden;
    margin: auto;
    padding-top: 50px;
}
.slides {
    width: calc(500px * 3);
    animation: glisse 20s infinite;
}
.slide {
    float: left;
}
@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    40% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    70% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}