.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("https://i.imgur.com/Abm0wRq.jpeg");
    background-size: cover;
    position: relative;
}

.login-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-shadow: 2px 2px 2px var(--bg-color);

}

.login-container form {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--bg-op-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-container form input {
    height: 40px;
    border-radius: 5px;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 5px;
    margin: 5px;

}

.login-container form input::placeholder {
    color: var(--bg-op-color);
}

.login-container form button {
    height: 40px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.login-container form button:hover {
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.login-container form span {
    color: var(--text-op-color);
    text-align: center;
}

.login-container form span b {
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.login-container small {
    color: var(--text-op-color);
    text-align: center;
}

.login-container form small b {
    color: var(--text-color);
    cursor: pointer;
}

.loginNavbar {
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    height: 8vh;
    z-index: 20;
    color: var(--text-color);
    /* Animations*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}


.loginNavContents {
    display: flex;
    justify-content: space-between;
}


.loginNavLogo{
    position: fixed;
    top: 5px;
    object-fit: contain;
    margin-left: 3rem;
    width: 80px;
    cursor: pointer;
    z-index: 30;
}

.loginNavAvatar{
    position: fixed;
    top: 20px;
    right: 3rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 30;
}