.search-menu {
  display: flex;
  /* justify-content: center; */
  padding-left: 100px;
  width: 100%;
}

.search-elements {
  /* width: 60% */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  transition: 0.2s linear;
}

.search-elements:hover {
  opacity: 1;
}

.search-button {
  position: relative;
  height: 42px;
  font-size: 1.5em;
  padding: 2px 15px;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.search-elements > input {
  text-align: center;
  height: 40px;
  width: 100vw;
  border: none;
  font-size: 1.5em;
  border-radius: 10px 0 0 10px;
  background-color: white;
}

@media screen and (max-width: 950px) {
  .search-menu {
    width: 150px;
    padding-left: 100px;
  }
  .search-elements {
    padding-bottom: 25px;
  }

  .search-elements > input {
    width: 180px;
  }
}
