.navbar {
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, #000 50%);
}
.navbar.scrolled {
    background-color: var(--main-color);
}
.navbar .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.navbar .container .left {
    display: flex;
    align-items: center;
}
.navbar .container .left img {
    height: 50px;
    margin-right: 40px;
}
.navbar .container .left span {
    margin-right: 20px;
    cursor: pointer;
}
.navbar .container .right {
    display: flex;
    align-items: center;
}
.navbar .container .right .icon {
    margin: 0px 10px;
    cursor: pointer;
}
.navbar .container .right img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}
.navbar .container .right .profile .options {
    display: none;
    background-color: var(--bg-color);
    border-radius: 5px;
}
.navbar .container .right .profile span {
    padding: 10px;
    cursor: pointer;
}
.navbar .container .right .profile:hover .options {
    display: flex;
    flex-direction: column;
    position: absolute;
}