.searchContainer {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.Search {
  padding-top: 100px;
}

.Search ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}

.Search li {
  cursor: pointer;
  /*transform: scale(0.6);
  margin: -100px;*/
}

.searchMovieCard {
position: relative;
z-index: 1;
margin: 20px;
transition: 0.2s linear;
}

.searchMovieCard img {
  width: 250px;
  min-height: 380px;
}

.searchMovieCard:hover {
  z-index: 500;
  box-shadow: 0px 0px 3px black;
}

.add-to-favourite {
  display: none;
}

.add-favourite-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  transition: 0.2s linear;
  text-shadow: 0px 0px 3px black;
}

.add-favourite-button:hover {
  transform: scale(1.5);
  color: gold;
}
