.TvCard {
    background-color: #141414;
    padding-top: 100px;
    height: 100vh;
    width: 100%;
}

.navB {
    margin: 0px;
    color: #f5e2ff;
    background-color: hsl(0, 0%, 8%);
    height: 80px;
    text-align: center;
    font-size: 50px;
}

.TvCard h1 {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #f5e2ff;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.TvCard .img-tv {
    height: 72vh;
}

.TvCard h3 {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #f5e2ff;
    width: 65%;
    padding: 15px;
}

.flex {
    background-color: #141414;
    display: flex;
    justify-content: flex-start;
    padding-left: 40vh;
}

.detail-content{
    padding : 10px;
}

.detail-content a {
    color: var(--text-color);
    padding: 3px;
}

.detail-content a:visited {
    color: var(--secondary-color);
}

.diffImg {
    width: 12vh;
    height: auto;
    margin-left: 10px;
    background-color: rgb(251, 251, 251);
    padding: 7px;
}

.favDiv {
    margin-top: 15px;
}
/*
@media only screen and (max-width: 870px) {
  .TvCard {
    padding-top: 0px;
  }
  .TvCard img {
    max-width: 100%;
    margin: 0 auto;
  }
    .flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .detail-content {
        flex-wrap: wrap;
        width: 100%;
    }

    .TvCard h3 {
      width: 100%;
    }
}
*/
@media screen and (min-width: 501px) and (max-width: 1025px) {
  .TvCard {
    padding-top: 100px;
  }
  .TvCard img {
    max-width: 100%;
    margin: 0 auto;
  }
    .flex {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .detail-content {
      flex-wrap: wrap;
      width: 100%;
    }
    .detail-content h3 {
      width: 100%;
    }
}

@media screen and (max-width: 500px) {
  .TvCard {
    padding-top: 0px;
  }
  .TvCard img {
    max-width: 100%;
    margin: 0 auto;
  }
    .flex {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .TvCard h3 {
      width: 100%;
    }
}

