.searchContainer {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.Search {
  padding-top: 50px;
}

.Search ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
}

.Search li {
  cursor: pointer;
  transform: scale(0.6);
  margin: -100px;
}