:root {
    --bg-color: #141414;
    --bg-op-color: #141414b0;
    --primary-color: #240046;
    --primary-op-color: #24004679;
    --secondary-color: #9d59d9;
    --secondary-op-color: #9d59d981;
    --third-color: #5ef973;
    --text-color: #fbf5ff;
    --text-op-color: #fbf5ffbe;
}
