:root {
    --bg-color: #141414;
    --bg-op-color: #141414b0;
    --primary-color: #240046;
    --secondary-color: #9d59d9;
    --third-color: #5ef973;
    --text-color: #fbf5ff;
    --text-op-color: #fbf5ffbe;
}

* { 
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}