.banner {
    position: relative;
    top: 0px;
    color: var(--text-color);
}

.bannerContents{
    margin-left: 5rem;
    padding-top: 18rem;
    height: auto;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
}

.bannerImg{
    position: absolute;
    background-position: center center;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 896px;
    width: 100%;
    min-width: 450px;
}

.bannerInfo{
    text-shadow: 2px 2px 2px var(--bg-color);   
    position: absolute;
    top: 25%;
    bottom: 35%;
    left: 4%;
    width: 40vw;
    z-index: 10;
}

.bannerTitle {
    width: 100%;
    font-size: 4vw;
    padding: 20px;
}

.bannerDescription {
    font-size: 1.5vw;
    padding: 10px;
    width: 40vw;
}

.bannerButton {  
    text-shadow: 2px 2px 2px var(--bg-color);
    font-size: 1.2vw;
    cursor: pointer;
    color: var(--text-color);
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.bannerButton:hover {
    text-shadow: 2px 2px 2px var(--text-color);    
    color: var(--bg-color);
    background-color: var(--text-color);
    transition: all 0.2s;
}

.flex-banner {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 850px) {
    .bannerDescription, .bannerButton {
        font-size: 2.5vw;
    }
    .flex-banner {
        width: 500px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .bannerDescription {
        width: 300px;
    }
    .bannerImg {
        height: 100%;
    }
}