.favoriteContainer {
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.Favorite {
  padding-top: 100px;
  color: white;
}

.Favorite ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.favoriteCard {
  position: relative;
}

.remove-from-favorite {
  display: none;
}

.remove-from-favorite-label {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  transition: 0.2s linear;
  text-shadow: 0px 0px 3px black;
}

.remove-from-favorite-label:hover {
  transform: scale(1.5);
  color: red;
}